@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  --voilet:#8739FA;
  --grey:#242329;
  --lightGrey:#b8b6b6;
  --white:#F6F6F6;
  --success:#52B062;
  --danger:#DD736E;
}

* , *::after , *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 17px;
}

body{
  background-color:var(--voilet);
  font-family: 'Roboto', sans-serif;
  padding: 30px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.container{
  background-color: var(--grey);
  padding: 15px;
  display: flex;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.alert , h2{
  text-align: center;
}

/* buttons */
.btn{
  border-radius: 5px;
}

.btn-submit{
  padding: 5px 10px;
  background-color: var(--white);
  color: var(--voilet);
  border: 2px solid var(--voilet);
}

.btn-submit:hover
, .btn-edit:hover , .btn-delete:hover{
  background-color: var(--voilet);
  color: var(--white);
}

.btn-clear{
  padding: 5px 10px;
  background-color: var(--danger);
  border: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  visibility: hidden;
}

.btn-clear:hover{
  transform: scale(1.02);
}

.btn-edit , .btn-delete{
  /* width: 12px; */
  height: auto;
  background-color: var(--white);
  color: var(--voilet);
  padding: 2px 3px;
  border: none;
}


.btn:focus , .todo:focus{
  outline: none;
}

.todo-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 350px;
  max-width: 90%;
  /* align-items: center; */
}

.alert{
  font-weight: 700;
  /* visibility: hidden; */
}


.success{
  color: var(--success);
  
}

.danger{
  color: var(--danger);
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.form-control{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo-container{
  margin-top: 1rem;
  /* visibility: hidden; */
}

.show-container{
  visibility: visible;
}

.todo{
  padding: 5px 10px;
  border-radius: 5px;
  width: 250px;
  max-width: 70%;
  font-size: 15 px;
}

.title{
  text-align: left;
  width:70%;
  
}

/* mobile responsive */
@media all and (max-width:430px){
  .container {
    padding: 15px 5px;
    display: flex;
    /* max-width: 90%; */
}
}